
body {
    background-color: #ffebb5;
    margin: 100px;

    color: #e78505;
    text-align: center;
    font-family: "Georgia", Georgia, serif;
    font-weight: normal;
    line-height: 1.5;
    font-size: 18px;
}

h1 {
    color: #a97ccc;
    text-align: center;
    font-family: "Garamond", Garamond, serif;
    font-weight: bolder;
    font-size: 60px;
    line-height: 0.2;
}