{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>welcome ! Hello, are you in a dark or light mode?</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'light_dark/styles-l.css' %}">


    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons" >
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Light
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2" autocomplete="off"> Dark
            </label>
        </div>
          <br>
        <p>
        <h1>Day or Night?</h1><br>
            When you were here before
            Couldn't look you in the eye
            You're just like an angel
            Your skin makes me cry
            You float like a feather
            In a beautiful world
            <br>I wish I was special
            You're so fuckin' special
            But I'm a creep
            <br>I'm a weirdo
            What the hell am I doin' here?
            I don't belong here
            I don't care if it hurts
            I wanna have control
            I want a perfect body
            I want a perfect soul
            I want you to notice
            When I'm not around
            <br>So fuckin' special
            I wish I was special
            But I'm a creep
            I'm a weirdo
            <br>What the hell am I doin' here?
            I don't belong here
            She's running out the door (run)
            She's running out
            She run, run, run, run,
            Run...
            Whatever makes you happy
            Whatever you want
            You're so fuckin' special
            I wish I was special
            But I'm a creep
            I'm a weirdo
            What the hell am I doin' here?
            I don't belong here
            I don't belong here
        </p>
    </body>
</html>